.search{
    width: 500px;
    margin: 0 auto;
}

.search__input{
    width: 80%;
    border: #1071FF 1px solid;
    background-color: unset;
    color: #1071FF;
    font-weight: 300;
    font-size: 14px;
    padding: 10px;
}
.search__button{
    width: 20%;
    text-align:center;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    border: #1071FF 1px solid;
    background-color: unset;
    color: #1071FF;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px;
    transition: 0.5s;
    cursor: pointer;
}
.search__button:hover{
    color: #fff;
    background-color:  #1071FF;
}
.listLocation{
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.listLocation__item{
    width: 100%;
    margin: 3px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #333;
    text-align:center;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    border: #1071FF 1px solid;
    background-color: unset;
    color: #1071FF;
    transition: 0.5s;
    border-radius: 0px;
    cursor: pointer;
}
.listLocation__item:hover{
    color: #fff;
    background-color:  #1071FF;
}