.navbar{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 10px;
}
.navbar__title{
    background-color: #30BF90;
    color: #fff;
    padding: 0 20px;
    width: 130px;
    font-size: 20px;
    text-align: left;
}
.navbar__body{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px;
    background-color: #1071FF;
}
.navbar__item{
    padding: 0 10px;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
    border-right: 1px solid #fff;
    text-shadow: none;
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    transition: color 0.4s ease-in-out;
}
.navbar__item:hover{
    color: rgba(255,255,255,1);
}
.navbar__item:last-child{
    border-right: none;
}
.active {
    font-weight: 800;
    color: rgba(255,255,255,1);
}